.navbar{
    width: 100%;
    min-height: 80px;
    background-color: rgb(165, 64, 64);

    .nav-inner{
        max-width: 1200px;
        min-height: 80px;
        margin: 0 auto;
        display: flex;
        align-items: center;

        .nav-link{
            color: white;
            font-size: 20px;
            margin-right: 20px;
            padding: 20px 30px;

            &:hover{
                background-color: rgb(122, 31, 31);
            }
        }

        .nav-link-logo{
            font-size: 35px;
            color: white;
            margin-right: 50px;
            font-weight: bolder;
        }
    }
}